# Copyright 2026 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

if BOARD_TROPIC_COMMUNITY

config BUILD_OUTPUT_HEX
	bool
	default y

config DISK_DRIVER_SDMMC
	default y if DISK_DRIVERS

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

endif # BOARD_TROPIC_COMMUNITY
