/*
 * Copyright 2025 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "mr_mcxn_t1-pinctrl.dtsi"
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/sensor/afbr_s50.h>
#include <zephyr/dt-bindings/sensor/icm42688.h>
#include <zephyr/dt-bindings/sensor/icm45686.h>
#include <zephyr/dt-bindings/sensor/bmp581.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	can_phy0: can-phy0 {
		compatible = "nxp,tja1462", "can-transceiver-gpio";
		standby-gpios = <&gpio4 14 GPIO_ACTIVE_HIGH>;
		max-bitrate = <5000000>;
		#phy-cells = <0>;
	};

	can_phy1: can-phy1 {
		compatible = "nxp,tja1462", "can-transceiver-gpio";
		standby-gpios = <&gpio4 17 GPIO_ACTIVE_HIGH>;
		max-bitrate = <5000000>;
		#phy-cells = <0>;
	};
};

&flexcomm1 {
	/* Lower UART interrupt priority so it doesn't clug the others */
	interrupts = <0x24 0x2>;
};

&flexcomm1_lpuart1 {
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm1_lpuart>;
	pinctrl-names = "default";
};

&i3c0 {
	status = "okay";
	pinctrl-0 = <&pinmux_i3c0>;
	pinctrl-names = "default";
	i2c-scl-hz = <400000>;

	bmp581_0: bmp581_0@470000000000000050  {
		compatible = "bosch,bmp581";
		reg = <0x47 0x0 0x50>;
	};

	bmm350_0: bmm350_0@140000000000000050  {
		compatible = "bosch,bmm350";
		reg = <0x14 0x0 0x50>;
		drdy-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		push-pull-int;
		active-high-int;
	};
};

/* Optical Flow Board */
&flexcomm3_lpspi3 {
	pinctrl-0 = <&pinmux_flexcomm3_lpspi>;
	pinctrl-1 = <&pinmux_flexcomm3_lpspi_gpio>;
	pinctrl-names = "default", "priv_start";
	cs-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;

	afbr_s50: afbr_s50@0 {
		compatible = "brcm,afbr-s50";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		spi-interframe-delay-ns = <50>;
		odr = <50>;
		dual-freq-mode = <AFBR_S50_DT_DFM_MODE_4X>;
		measurement-mode = <AFBR_S50_DT_MODE_SHORT_RANGE>;
		int-gpios = <&gpio1 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		spi-mosi-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
		spi-sck-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		spi-miso-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	};

};

/* Optical Flow Board */
&flexcomm6_lpspi6 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcomm6_lpspi>;
	pinctrl-names = "default";

	icm42688: icm42688_optical_flow@0 {
	compatible = "invensense,icm42688", "invensense,icm4268x";
		reg = <0>;
		int-gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		spi-interframe-delay-ns = <50>;
		accel-pwr-mode = <ICM42688_DT_ACCEL_LN>;
		accel-odr = <ICM42688_DT_ACCEL_ODR_1000>;
		accel-fs = <ICM42688_DT_ACCEL_FS_16>;
		gyro-pwr-mode = <ICM42688_DT_GYRO_LN>;
		gyro-odr = <ICM42688_DT_GYRO_ODR_1000>;
		gyro-fs = <ICM42688_DT_GYRO_FS_2000>;
		fifo-hires;
	};
};

/* Optical Flow Board */
&flexcomm7_lpspi7 {
	pinctrl-0 = <&pinmux_flexcomm7_lpspi>;
	pinctrl-names = "default";

	icm45686_1: icm45686_optical_flow@0 {
		compatible = "invensense,icm45686";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		int-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		spi-interframe-delay-ns = <50>;
		accel-pwr-mode = <ICM45686_DT_ACCEL_LN>;
		accel-fs = <ICM45686_DT_ACCEL_FS_2>;
		accel-odr = <ICM45686_DT_ACCEL_ODR_400>;
		accel-lpf = <ICM45686_DT_ACCEL_LPF_BW_1_32>;
		gyro-pwr-mode = <ICM45686_DT_GYRO_LN>;
		gyro-fs = <ICM45686_DT_GYRO_FS_4000>;
		gyro-odr = <ICM45686_DT_GYRO_ODR_400>;
		gyro-lpf = <ICM45686_DT_GYRO_LPF_BW_1_32>;

		fifo-watermark = <1>;
	};
};

&flexcomm8_lpspi8 {
	pinctrl-0 = <&pinmux_flexcomm8_lpspi>;
	pinctrl-names = "default";

	icm45686_0: icm45686_hub@0 {
		compatible = "invensense,icm45686";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		int-gpios = <&gpio3 22 GPIO_ACTIVE_HIGH>;
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		spi-interframe-delay-ns = <50>;
		accel-pwr-mode = <ICM45686_DT_ACCEL_LN>;
		accel-fs = <ICM45686_DT_ACCEL_FS_2>;
		accel-odr = <ICM45686_DT_ACCEL_ODR_400>;
		accel-lpf = <ICM45686_DT_ACCEL_LPF_BW_1_32>;
		gyro-pwr-mode = <ICM45686_DT_GYRO_LN>;
		gyro-fs = <ICM45686_DT_GYRO_FS_4000>;
		gyro-odr = <ICM45686_DT_GYRO_ODR_400>;
		gyro-lpf = <ICM45686_DT_GYRO_LPF_BW_1_32>;
 
		fifo-watermark = <1>;
	};
};

/* Optical Flow Board */
&flexcomm9_lpspi9 {
	pinctrl-0 = <&pinmux_flexcomm9_lpspi>;
	pinctrl-names = "default";

	paa3905: paa3905@0 {
		compatible = "pixart,paa3905";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(20)>;
		spi-cs-setup-delay-ns = <50>;
		spi-cs-hold-delay-ns = <50>;
		spi-interframe-delay-ns = <50>;
		int-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
		/*led-control;*/
	};

};

/*
 * MCXN947 board uses OS timer as the kernel timer
 * In case we need to switch to SYSTICK timer, then
 * replace &os_timer with &systick
 */
&os_timer {
	status = "disabled";
};

&systick {
	status = "okay";
};

&sram {
	sramg: memory@20050000 {
		compatible = "mmio-sram";
		reg = <0x20050000 DT_SIZE_K(64)>;
	};
	sramh: memory@20060000 {
		compatible = "mmio-sram";
		reg = <0x20060000 DT_SIZE_K(32)>;
	};
};

&flash {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Partition sizes must be aligned
		 * to the flash memory sector size of 8KB.
		 */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(80)>;
		};
		slot0_partition: partition@14000 {
			label = "image-0";
			reg = <0x00014000 DT_SIZE_K(984)>;
		};
		slot1_partition: partition@10A000 {
			label = "image-1";
			reg = <0x0010A000 DT_SIZE_K(984)>;
		};
	};
};

&enet {
	pinctrl-0 = <&pinmux_enet_qos>;
	pinctrl-names = "default";
};

&enet_mac {
	phy-connection-type = "rmii";
	nxp,unique-mac;
	phy-handle = <&phy>;
};

&enet_mdio {
	phy: ethernet-phy@12 {
		compatible = "nxp,tja1103";
		status = "okay";
		reg = <0x12>;
		int-gpios = <&gpio1 19 GPIO_ACTIVE_LOW>;
		master-slave = "auto";
	};
};

&flexcan0 {
	pinctrl-0 = <&pinmux_flexcan0>;
	pinctrl-names = "default";
	phys = <&can_phy0>;
};

&flexcan1 {
	pinctrl-0 = <&pinmux_flexcan1>;
	pinctrl-names = "default";
	phys = <&can_phy1>;
};

&flexio0 {
	flexio_spi0: flexio_spi0 {
		compatible = "nxp,flexio-spi";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		sdo-pin = <0>;
		sdi-pin = <0>;
		sck-pin = <1>;
		pinctrl-0 = <&pinmux_flexio_spi0>;
		pinctrl-names = "default";
		
		led_strip: apa102@0 {
			compatible = "apa,apa102";
			reg = <0>;
			spi-max-frequency = <DT_FREQ_M(8)>;
			chain-length = <1>;
			color-mapping = <LED_COLOR_ID_BLUE
				 	LED_COLOR_ID_GREEN
				 	LED_COLOR_ID_RED>;
		};
	};

};
